body {
    font-family: Arial, sans-serif;
    background-color: #f3f4f6;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

#search-input {
    width: 80%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    font-size: 16px;
}

#search-button {
    background-color: #ff6f61;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

#search-button:hover {
    background-color: #e65c50;
}

#recipes {
    margin-top: 20px;
}

.recipe-card {
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 15px;
    text-align: left;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.recipe-card img {
    width: 100%;
    border-radius: 8px;
}

.recipe-title {
    font-size: 18px;
    color: #333;
    margin: 10px 0;
}

.recipe-publisher {
    font-size: 14px;
    color: #777;
}
